<div class="w-full h-full bg-transparent px-4 pb-4">
  <div class="flex flex-col h-full">
    <div class="container mx-10 flex mt-10">
      <div class="w-1/1 mr-1">
        <div>
          <app-btn color="light" class="shrink-0" (click)="addList()"
            >Crear Columna</app-btn
          >
        </div>
        <div class="mb-4"></div>
        <div>
          <app-btn
            color="light"
            class="shrink-0"
            (click)="openAddMemberDialog()"
            >Añadir Miembro</app-btn
          >
        </div>
        <div class="mb-4"></div>
        <div>
          <app-btn color="light" class="shrink-0" (click)="deleteBoard()"
            >Borrar Tablero</app-btn
          >
        </div>
      </div>
      <div class="flex flex-wrap gap-10" cdkDropListGroup>
        <div
        *ngFor="let list of lists; let i = index"
        cdkDropList
        [cdkDropListData]="list.cards"
        [id]="list.list.lid"
        (cdkDropListDropped)="drop($event)"
          class="min-w-[auto] max-w-[300px] mx-3 bg-purple-900 bg-opacity-30 py-3 px-4 text-sm uppercase font-medium rounded text-white h-auto min-h-[2.5rem] cursor-pointer"
        >
          {{ list.list.title }}
          <button class="p-3" (click)="openDialogToUpdateList(list.list)">
            <div class="flex space-x-2 text-left">
              <fa-icon class="text-gray-800" [icon]="faPencil"></fa-icon>
            </div>
          </button>

          <button class="p-3" (click)="deleteList(list.list)">
            <fa-icon class="text-gray-800" [icon]="faTrashCan"></fa-icon>
          </button>

          <div class="min-w-[auto] max-w-[auto] py-2 gap-10">
            <app-btn class="shrink-0" (click)="addCard(list.list)"
              >Añadir tarea</app-btn
            >
            <div class="mb-4"></div>
            <div
              class="bg-purple-900 bg-opacity-30 py-3 px-4 text-center text-sm uppercase font-medium rounded text-white mb-4 hover:bg-purple-900"
              cdkDrag
              *ngFor="let card of list.cards"
              [cdkDragData]="card"
              (click)="openDialog(card)"
            >
              {{ card.title }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
