<div class="p-6 bg-gray-100 relative rounded shadow">
  <button
    (click)="close()"
    type="button"
    class="absolute top-3 right-3 focus:outline-none p-2"
  >
    <fa-icon [icon]="faClose"></fa-icon>
  </button>
  <h1 mat-dialog-title>Actualizar Tablero</h1>

  <div mat-dialog-content>
    <form [formGroup]="updateBoardForm">
      <mat-form-field>
        <mat-label>Nombre del Tablero</mat-label>
        <input
          matInput
          formControlName="title"
          placeholder="Ingrese el nombre del tablero"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Color de Fondo</mat-label>
        <input
          matInput
          formControlName="background"
          placeholder="Ingrese el color en hexadecimal"
        />
      </mat-form-field>
    </form>
  </div>

  <div mat-dialog-actions>
    <button mat-button >Cancelar</button>
    <button mat-button cdkFocusInitial>Actualizar</button>
  </div>
</div>

<!--

    <h1 mat-dialog-title>Actualizar Tablero</h1>

 

<div mat-dialog-content>
<form [formGroup]="updateBoardForm">
<mat-form-field>
<mat-label>Nombre del Tablero</mat-label>
<input matInput formControlName="title" placeholder="Ingrese el nombre del tablero">
</mat-form-field>

 

    <mat-form-field>
<mat-label>Color de Fondo</mat-label>
<input matInput formControlName="background" placeholder="Ingrese el color en hexadecimal">
</mat-form-field>
</form>
</div>

 

<div mat-dialog-actions>
<button mat-button (click)="onCancel()">Cancelar</button>
<button mat-button (click)="onUpdate()" cdkFocusInitial>Actualizar</button>
</div>

  -->
