<div class="p-6 bg-gray-100 relative rounded shadow">
  <button
    (click)="close()"
    type="button"
    class="absolute top-3 right-3 focus:outline-none p-2"
  >
    <fa-icon [icon]="faClose"></fa-icon>
  </button>
  <h1>Actualizar Tablero</h1>

  <div>
    <form [formGroup]="updateBoardForm">
      <div>
        <label for="board-title">Nombre del Tablero</label>
        <input
          id="board-title"
          formControlName="title"
          placeholder="Ingrese el nombre del tablero"
        />
      </div>

      <div>
        <label for="board-background">Color de Fondo</label>
        <input
          type="color"
          id="board-background"
          formControlName="background"
        />
      </div>
    </form>
  </div>

  <app-btn  (click)="updateBoard()">Actualizar</app-btn>
</div>
