    <div class="flex-wrap w-8/12 sm:flex md:flex lg:flex m-auto h-full items-center justify-center lg:justify-between">
      <div class="mb-10 justify-center items-center md:mb-0 sm:w-5/12 sm:-ml-28 sm:mr-8 md:-ml-20 lg:-ml-16 lg:-mr-12 md:w-7/12 lg:w-7/12 md:mr-10">
        <img src="https://tecdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg" class="w-full"
          alt="Imagen de Inicio" />
        <p class="font-medium text-pink-900 opacity-70 text-lg mt-5 ml-1 mt-4 uppercase cursor-default">
          Eslogan Lorem ipsum dolor. </p>
        <p class=" text-pink-900 opacity-50 text-1xl mt-1 ml-1 cursor-default">
          Nuestro objetio Lorem ipsum dolor sit amet, consectetur adipiscing elit.      </p>
      </div>
    