<!--
<div class="container mx-10 flex mt-10">
  <h1 class="text-center font-bold py-2 text-gray-700"> Profile</h1>
</div>
-->
<div class="container mx-10 flex mt-10">
  <div class="bg-white shadow rounded-lg p-4">
    <img
      src="ruta-a-tu-imagen-de-perfil"
      class="w-64 h-64 rounded-full mx-10 mt-10"
    />
    <h2 class="text-2xl font-semibold text-gray-800">Nombre de usuario</h2>
    <p class="text-gray-600 mb-2">Descripción del perfil</p>
    <ul class="text-gray-700">
      <li><strong>Nombre:</strong> UserName</li>
      <li><strong>Email:</strong> Email</li>
      <li><strong>Ubicación:</strong> Ciudad, País</li>
    </ul>
  </div>
</div>
