<div class="w-screen h-screen overflow-hidden relative">
  <profile-background></profile-background>
  <div class=" w-9/12 sm:w-8/12 md:w-7/12 lg:w-5/12 m-auto mt-14">
    <div class="rounded shadow-none sm:shadow-lg py-4 px-4 md:px-9">
      <div class="mb-4">
        <app-profile-form></app-profile-form>
      </div>
      <hr class="my-4 border-b-1 border-purple-400" />
      <div class="flex justify-center">
        <img loading="lazy" class="w-32 mt-4" src="/assets/images/logo/logo-workflow-gray.png" alt="logo" />
      </div>
    </div>
  </div>

