<div class="container mx-10 flex mt-10">
  <div class="w-1/1 mr-1">
    <div>
      <app-btn color="success" (click)="addBoard()">Crear</app-btn>
    </div>
  </div>
  <div class="w-full">
    <div class="flex flex-wrap items-center gap-3">
      <div *ngFor="let board of boards" class="relative">
        <a
          [routerLink]="'/app/boards/' + board.bid"
          [style.backgroundColor]="board.background"
          class="flex justify-center items-center min-w-[200px] max-w-[200px] p-10 rounded text-sm font-medium uppercase text-white cursor-pointer"
        >
          {{ board.title }}
        </a>
        <button
          class="absolute top-0 right-0 p-3"
          (click)="openDialogToUpdateBoard(board)"
        >
          <span class="flex space-x-2 text-left">
            <fa-icon class="text-gray-800" [icon]="faPencil"></fa-icon>
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
