<div class="container mx-10 flex mt-10">
  <div class="w-1/1 mr-1">
    <div>
      <app-btn color="success" (click)="addBoard()">Crear</app-btn>
    </div>
  </div>
  <div class="w-full">
    <div class="flex flex-wrap items-center gap-3">
      <div *ngFor="let board of boards" class="relative">
        <a
          [routerLink]="'/app/boards/' + board.bid"
          [style.backgroundColor]="board.background"
          class="flex justify-center items-center min-w-[200px] max-w-[200px] p-10 rounded text-sm font-medium uppercase text-white cursor-pointer"
        >
          {{ board.title }}
        </a>
        <button class="absolute top-0 right-0 p-3" typeBtn="button" color="light" (click)="openDialogToUpdateBoard(board)">
          <span class="flex space-x-2 text-left">
            <fa-icon class="text-gray-800" [icon]="faPencil"></fa-icon>
          </span>
        </button>
      </div>
    </div>
  </div>
</div>

<!--
      <app-btn typeBtn="button" color="light">
        <span class="flex space-x-2 text-left">
          <fa-icon class="text-gray-800" [icon]="faPencil"></fa-icon>
          <span>Editar nombre</span>
        </span>
      </app-btn>
-->

<!--

          <button
          class="absolute top-0 right-0 mt-2 mr-2 p-2 bg-green-500 text-white rounded-full hover:bg-green-800" 
          [routerLink]="'/app/boards/edit/' + board.bid"
        >
          <i class="fas fa-pencil-alt"></i>
        </button>

-->

<!--

  absolute top-0 right-0 mt-2 mr-2 p-2 bg-green-500 text-white rounded-full hover:bg-green-800"
-->
