<ng-container *ngIf="user$ | async as user" class=" ">
  <nav class="bg-transparent h-20 px-6 shadow-md">
    <div class="flex flex-wrap justify-between items-center">
      <div class="flex items-center mt-5">
        <a routerLink="/app">
          <img
            loading="lazy"
            class="w-20 mr-8 cursor-pointer rounded hover:bg-transparent"
            src="/assets/images/logo/logo-solid-white-workflow.png"
            alt="logo"
          />
        </a>
        <app-btn (click)="isOpenOverlayBoards = !isOpenOverlayBoards" cdkOverlayOrigin #boardsOverlay="cdkOverlayOrigin">              
              </app-btn>
      </div> 

      <div class="flex items-center mt-5">
        <div class="flex space-x-2">
          <button class="text-fuchsia-900 opacity-60 " type="button">
            <fa-icon [icon]="faBell"></fa-icon>
          </button>
          <button class="text-fuchsia-900 opacity-60 " type="button">
            <fa-icon [icon]="faInfoCircle"></fa-icon>
          </button>
          <button
            type="button"
            class="flex rounded-md bg-fuchsia-900 opacity-60 w-20 justify-center  hover:bg-transparent hover:text-fuchsia-900  text-white"
            aria-expanded="false"
            type="button"
            (click)="isOpenOverlayAvatar = !isOpenOverlayAvatar"
            cdkOverlayOrigin
            #menuOverlay="cdkOverlayOrigin"
          >  Mi Perfil
          </button>
        </div>
      </div>
    </div>
  </nav>

  <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="menuOverlay"
    [cdkConnectedOverlayOpen]="isOpenOverlayAvatar"
    (overlayOutsideClick)="isOpenOverlayAvatar = !isOpenOverlayAvatar"
  >
    <div
      class="z-50 my-4 w-60 text-base list-none bg-white rounded divide-y divide-gray-100 shadow"
    >
      <div class="py-2 px-4 text-center relative">
        <span class="block text-normal text-fuchsia-900">Tu Cuenta</span>
        <button
          (click)="isOpenOverlayAvatar = !isOpenOverlayAvatar"
          class="block text-sm text-gray-900 absolute right-3 top-3"
        >
          <fa-icon class="text-fuchsia-900" [icon]="faClose"></fa-icon>
        </button>
      </div>
      <div class="py-3 px-4 flex items-center space-x-4">
    NO FUNCIONA
          <div>{{ user?.username }}</div>
          <div class="text-sm text-gray-500">{{ user?.email }}</div>
      </div>
      <ul class="py-1">
        <li>
          <a
            routerLink="/app/profile"
            class="block py-2 px-4 text-sm text-center text-fuchsia-900 hover:bg-gray-100 dark:hover:bg-gray-600"
            >Perfil</a
          >
        </li>
        <li>
          <a
            class="block py-2 px-4 text-sm  text-center hover:bg-gray-100 text-fuchsia-900 dark:hover:bg-gray-600"
            >Actividad</a
          >
        </li>
  
      
      </ul>
      <ul class="py-1">
        <li>
          <button class="block py-2 px-4 text-sm text-center text-fuchsia-900 hover:bg-transparent" (click)="logout()">Salir</button>
        </li>
      </ul>
    </div>
  </ng-template>

  <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="boardsOverlay"
    [cdkConnectedOverlayOpen]="isOpenOverlayBoards"
    (overlayOutsideClick)="isOpenOverlayBoards = !isOpenOverlayBoards"
  >
    <div
      class="z-50 my-4 w-60 text-base list-none bg-white rounded divide-y divide-gray-100 shadow"
    >
      <div class="py-2 px-4 text-center relative">
        <span class="block text-normal text-gray-900">Tablero</span>
        <button
          (click)="isOpenOverlayBoards = !isOpenOverlayBoards"
          class="block text-sm text-gray-900 absolute right-3 top-3"
        >
          <fa-icon [icon]="faClose"></fa-icon>
        </button>
      </div>
      <button class="block py-3 px-4 text-sm text-gray-700" (click)="addBoard()">Nuevo</button>
    </div>
  </ng-template>

</ng-container>
