<ng-container *ngIf="user$ | async as user" class=" ">
  <nav class="bg-transparent h-20 px-6 shadow-md">
    <div class="flex justify-between items-center h-full">
      <div>
        <a routerLink="/app">
          <img
            loading="lazy"
            class="w-20 mr-8 cursor-pointer rounded hover:bg-transparent"
            src="/assets/images/logo/logo-solid-white-workflow.png"
            alt="logo"
          />
        </a>
      </div>
      <div>
        <app-btn
          (click)="isOpenOverlayAvatar = !isOpenOverlayAvatar"
          cdkOverlayOrigin
          #menuOverlay="cdkOverlayOrigin"
        >
          Configuración
        </app-btn>
      </div>
    </div>
  </nav>

  <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="menuOverlay"
    [cdkConnectedOverlayOpen]="isOpenOverlayAvatar"
    (overlayOutsideClick)="isOpenOverlayAvatar = !isOpenOverlayAvatar"
  >
    <div
      class="z-50 my-4 w-60 text-base list-none bg-white rounded divide-y divide-gray-100 shadow"
    >
      <div class="py-2 px-4 text-center relative">
        <span class="block text-normal text-fuchsia-900">Configuración</span>
        <button
          (click)="isOpenOverlayAvatar = !isOpenOverlayAvatar"
          class="block text-sm text-gray-900 absolute right-3 top-3"
        >
          <fa-icon class="text-fuchsia-900" [icon]="faClose"></fa-icon>
        </button>
      </div>
      <ul class="py-1">
        <li>
          <a
            routerLink="/app/boards"
            class="block py-2 px-4 text-sm text-center text-fuchsia-900 hover:bg-purple-200"
            >Tableros</a
          >
        </li>
        <li>
          <a
            routerLink="/app/profile"
            class="block py-2 px-4 text-sm text-center text-fuchsia-900 hover:bg-purple-200"
            >Perfil</a
          >
        </li>
        <li>
          <a
            class="block py-2 px-4 text-sm text-center text-fuchsia-900 hover:bg-purple-200"
            (click)="logout()"
          >
            Salir
          </a>
        </li>
      </ul>
    </div>
  </ng-template>
</ng-container>
