<div class="w-full h-full bg-green-700 px-4 pb-4">
  <div class="flex flex-col h-full">
    <div class="container mx-10 flex mt-10">
      <div class="w-1/1 mr-1">
        <div>
          <app-btn color="light" class="shrink-0" (click)="addList()"
            >Crear Columna</app-btn
          >
        </div>
        <div class="mb-4"></div>
        <div>
          <app-btn color="light" class="shrink-0" (click)="deleteBoard()"
            >Borrar Tablero</app-btn
          >
        </div>
      </div>
      <div class="flex flex-wrap gap-10 items-center">
        <div
          *ngFor="let list of lists"
          class="min-w-[200px] max-w-[200px] mx-3 items-center bg-gray-300 py-3 px-4 rounded text-gray-700 h-60 min-h-[2.5rem] cursor-pointer"
        >
          {{ list.list.title }}
          <div class="flex flex-wrap gap-2 items-center">
            <app-btn color="light" class="shrink-0" (click)="addCard(list.list)"
              >Añadir tarea</app-btn
            >
            <div class="flex flex-wrap gap-2 items-center">
              <app-btn color="light" class="shrink-0" (click)="deleteList(list.list)"
                >Borrar columna</app-btn
              >

            <div
              *ngFor="let card of list.cards"
              (click)="openDialog(card)"
              cdkDrag
              class="bg-white shadow p-2 rounded mt-2 border-x-gray-300 cursor-pointer hover:bg-gray-500"
            >
              {{ card.title }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
      <div class="flex items-start w-full" cdkDropListGroup>
        <div class="rounded mx-6 bg-gray-200 w-72 p-2 mr-3">
          <div class="flex justify-center py-1">
            <h3 class="text-gray-700 font-semibold ml-2">Hacer</h3>
          </div>
          <div
            class="text-gray-700 mt-2 min-h-[2.5rem]"
            cdkDropList
            (cdkDropListDropped)="drop($event)"
            [cdkDropListData]="todos"
          >
            <div
              *ngFor="let todo of todos"
              cdkDrag
              class="bg-white shadow p-2 rounded mt-2 border-x-gray-300 cursor-pointer hover:bg-gray-500"
            >
              {{ todo.title }}
            </div>
          </div>
        </div>

        <div class="rounded mx-3 bg-gray-200 w-72 p-2 mr-3">
          <div class="flex justify-center py-1">
            <h3 class="text-gray-700 font-semibold ml-2">Haciendo</h3>
          </div>
          <div
            class="text-gray-700 mt-2 min-h-[2.5rem]"
            cdkDropList
            (cdkDropListDropped)="drop($event)"
            [cdkDropListData]="doing"
          >
            <div
              *ngFor="let todo of doing"
              cdkDrag
              class="bg-white shadow p-2 rounded mt-2 border-x-gray-300 cursor-pointer hover:bg-gray-500"
            >
              {{ todo.title }}
            </div>
          </div>
        </div>

        <div class="w1 mr-1">
          <div class="rounded mx-3 bg-gray-200 w-72 p-2 mr-3">
            <div class="flex justify-center py-1">
              <h3 class="text-gray-700 font-semibold ml-2">Hecho</h3>
            </div>
            <div
              class="text-gray-700 mt-2 min-h-[2.5rem]"
              cdkDropList
              (cdkDropListDropped)="drop($event)"
              [cdkDropListData]="done"
            >
              <div
                *ngFor="let todo of done"
                cdkDrag
                class="bg-white shadow p-2 rounded mt-2 border-x-gray-300 cursor-pointer hover:bg-gray-500"
              >
                {{ todo.title }}
              </div>
            </div>
          </div>
        </div>
-->

<!--

  CODIGO EJEMPLO TRELLO
----------------------------------------------------------------------------

  <div class="w-full h-full bg-green-700 px-4 pb-4">
  <div class="flex flex-col h-full">
    <div class="container mx-10 flex mt-10">
      <div class="w-1/1 mr-1">
        <app-btn color="success" (click)="deleteBoard()">Borrar</app-btn>
      </div>
    </div>

----------------------------------------------------------------------------

    <div
      class="flex grow items-start w-full h-full overflow-x-scroll"
      cdkDropListGroup
    >
      <div
        class="rounded bg-gray-200 w-72 p-2 mr-3 shrink-0"
        *ngFor="let column of lists"
      >
        <div class="flex justify-between py-1">
          <h3 class="text-sm font-bold ml-2">{{ column.title }}</h3>
        </div>

        <div
          class="text-sm mt-2 min-h-[2.5rem]"
          cdkDropList
          (cdkDropListDropped)="drop($event)"
          [cdkDropListData]="column.todos"
        >
          <div
            (click)="openDialog(todo)"
            *ngFor="let todo of column.todos"
            cdkDrag
            class="bg-white shadow p-2 rounded mt-2 border-b border-x-gray-300 cursor-pointer hover:bg-gray-400"
          >
            {{ todo.title }}
          </div>
        </div>
      </div>
      <app-btn color="light" class="shrink-0" (click)="addList()"
        >Añade columna</app-btn
      >
    </div>
  </div>
</div>
-->
