<h1 class="text-center font-medium text-pink-900 opacity-70 text-lg mt-5 ml-1 mt-4 uppercase cursor-default py-2 ">¿No
  puedes acceder?</h1>
<div *ngIf="emailSent">
  <div class="flex justify-center py-4">
    <img loading="lazy" class="w-40" src="/assets/svg/check-email.svg" alt="logo" />
  </div>
  <p class="text-pink-900 opacity-50"> Hemos enviado un enlace de recuperación a </p>
  <p class="font-bold">{{form.controls.email.value}}</p>
</div>
<form *ngIf="!emailSent" [formGroup]="form" novalidate class="space-y-4" (ngSubmit)="sendLink()">
  <div>
    <div class="relative">
      <label for="email" class="block text-sm text-pink-900 opacity-60 mt-1 ml-1 cursor-default my-2">Enviaremos un
        enlace de recuperación a </label>
      <input #nameInput formControlName="email" placeholder="Email" type="email" name="email" autocomplete="off"
        class=" min-h-[auto] w-full border-transparent border-b border-b-purple-800 bg-transparent transition-all duration-200 ease-linear text-white placeholder:text-purple-900 hover:outline-none hover:border-white focus:border-white " />
    </div>
    <div *ngIf="form.controls.email.touched && form.controls.email.invalid">
      <p *ngIf="form.controls.email.hasError('required')" class="font-medium text--purple-100 text-xs mt-1 ml-1">
        Este campo es obligatorio
      </p>
      <p *ngIf="form.controls.email.hasError('email')" class="font-medium text--purple-100 text-xs mt-1 ml-1">
        Este debe ser un email
      </p>
    </div>
  </div>
  <div>
    <app-btn typeBtn="submit" color="success" [loading]="status === 'loading'">Enviar enlace de recuperación</app-btn>
  </div>
</form>