<div class="p-6 bg-gray-100 relative rounded shadow">
  <button
    (click)="close()"
    type="button"
    class="absolute top-3 right-3 focus:outline-none p-2"
  >
    <fa-icon [icon]="faClose"></fa-icon>
  </button>
  <div class="flex space-x-2 mb-5">
    <fa-icon class="text-gray-800" [icon]="faCheckToSlot"></fa-icon>
    <div class="flex flex-col">
      <h3 class="text-lg font-semibold text-gray-800">{{ card.title }}</h3>
    </div>
  </div>
  <!--------------------------------------------------------->
  <div class="flex w-full gap-4">
    <form [formGroup]="updateCardForm">
      <div class="flex space-x-2 mb-5 w-4/6">
        <fa-icon class="text-gray-800" [icon]="faBars"></fa-icon>
        <label class="text-lg font-semibold text-gray-800">Nombre</label>
        <input
          id="board-title"
          formControlName="title"
          placeholder="Ingrese el nombre"
        />
      </div>
      <div class="flex w-full gap-4">
        <fa-icon class="text-gray-800" [icon]="faBars"></fa-icon>
        <label class="text-lg font-semibold text-gray-800">Descripción</label>
        <textarea
          id="board-description"
          formControlDesciption="description"
          rows="4"
          cols="30"

        ></textarea><br><br>
      </div>
    </form>
    <!--
    <div class="flex flex-auto space-y-2 flex-col">
      <app-btn typeBtn="button" color="light">
        <span class="flex space-x-2 text-left">
          <fa-icon class="text-gray-800" [icon]="faPencil"></fa-icon>
          <span>Editar nombre</span>
        </span>
      </app-btn>
      <app-btn typeBtn="button" color="light">
        <span class="flex space-x-2 text-left">
          <fa-icon class="text-gray-800" [icon]="faEdit"></fa-icon>
          <span>Editar descripción</span>
        </span>
      </app-btn>
    </div>
    -->
  </div>
  <div class="mb-5"></div>
  <app-btn (click)="updateCard()">Actualizar</app-btn>
  <div class="mb-5"></div>
  <app-btn (click)="deleteCard()">Borrar</app-btn>
</div>
