<div *ngIf="!showProfile">
  <h1
    class="text-center font-semibold text-gray-900 opacity-70 text-lg mt-5 ml-1 uppercase cursor-default py-2"
  >
    Mi Perfil
  </h1>

  <div class="text-center space-y-4 mt-4 mb-5">
    <div class="relative">
      <p class="cursor-default font-semibold text-gray-900 opacity-70">
        Nombre de Usuario:
      </p>
      <p class="cursor-default text-purple-900 opacity-70">
        {{ user.username }}
      </p>
    </div>

    <div class="relative">
      <p class="cursor-default font-semibold text-gray-900 opacity-70">
        Email:
      </p>
      <p class="cursor-default text-purple-900 opacity-70">{{ user.email }}</p>
    </div>
  </div>
  <app-btn (click)="openProfileDialog()"
    >Actualizar perfil</app-btn
  >
</div>